* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  color: #69b9ff;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  column-gap: 40px;
}

.header__menu a {
  color: #676770;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.header__menu a:hover {
  color: #0082f3;
}

.banner {
  background-image: url("../images/IMAGE (11).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 594px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner__title {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 59px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 106px;
}

.banner__btns button {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 30px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  margin-right: 20px;
  transition: 3s;
}

.banner__btns button:hover {
  background: #0082f3;
}

.what__we {
  padding: 77px 0 80px;
}

.what__we__title {
  color: #676770;
  text-align: center;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.what__we__text {
  color: #8e8e9c;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.what__we__cards {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 62px;
}

.what__we__card {
  width: 33%;
  border-radius: 5px;
  border: 1px solid #dcebf7;
  background: #fff;
  text-align: center;
  padding: 36px 16px 23px;
}

.what__we__card h4 {
  color: #676770;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.what__we__card p {
  color: #6a859c;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.services {
  background: #192024;
  padding: 77px 0 95px;
}

.services__title {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.services__text {
  color: #e8e8e8;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.services__cards {
  display: flex;
  column-gap: 50px;
  margin-top: 77px;
  text-align: center;
}
.services__card {
  width: 50%;
}
.services__card img {
  width: 100%;
  height: 287px;
}
.services__card__title {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.services__card__text {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.services__card__btn {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 30px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  margin-right: 20px;
  transition: 3s;
  margin-top: 17px;
}
.services__card__btn:hover {
  background: #0082f3;
}
.tab {
  padding: 77px 0;
}
.tab__title {
  color: #676770;
  text-align: center;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 120% */
  letter-spacing: 5px;
  text-transform: uppercase;
}
.tab__text {
  margin-top: 17px;
  color: #8e8e9c;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.tab__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  margin-top: 62px;
}
.tab__btns button {
  border-radius: 4px;
  background: #92a0ad;
  padding: 1px 30px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 131.25% */
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
}
.tab__btns button:hover {
  background: #2e80b6;
}
.tab__image {
  width: 100%;
  margin-top: 20px;
}
.tab__subtitle {
  color: #6a859c;
  text-align: center;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 192.308% */
}
.mt {
  margin-top: 14px;
}
.footer__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
}
.footer__card {
  width: 33%;
}
.footer__card-title {
  color: #676770;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  letter-spacing: 4px;
  text-transform: uppercase;
}
.footer__card-text {
  color: #6a859c;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}
.footer__card ul {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.footer__card li {
  height: 37px;
  color: #668cad;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  /* padding-bottom: 12px; */
  border-bottom: 1px solid #668cad;
}
.footer__card li svg {
  margin-top: 5px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px 0;
  background: #383838;
}
.footer__bottom-text {
  color: #9e9e9e;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
