.pricing {
  padding-top: 150px;
  border-radius: 10px;
  padding-bottom: 100px;
}
.pricing__title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  width: 520px;
}
.pricing__form-btn {
  background: #5454D4;
  border-radius: 10px 0px 0px 10px;
  padding: 7px 18px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 115px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__form-btn:hover {
  color: #5454D4;
  background-color: #ffffff;
}
.pricing__form-bt {
  background: #F7F7FB;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px 18px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 115px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #5454D4;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__form-bt:hover {
  color: #ffffff;
  background-color: #5454D4;
}
.pricing__card {
  border-radius: 10px;
  width: 330;
  height: 400px;
  background-color: #F7F7FB;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__card-text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  color: #696871;
  padding-bottom: 30px;
}
.pricing__card-title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  padding-bottom: 30px;
  color: #1D293F;
}
.pricing__card-btn {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 7px 18px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 346px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #5454D4;
}
.pricing__card:hover {
  background-color: #FF7143;
  width: 376px;
  height: 455px;
}
.pricing__cart {
  background: #FF7143;
  -webkit-box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
          box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  border-radius: 10px;
  width: 376px;
  height: 455px;
}
.pricing__cart-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: -0.562737px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 35px;
}
.pricing__cart-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  /* identical to box height, or 93% */
  text-align: center;
  letter-spacing: -1.03448px;
  padding-bottom: 40px;
  color: #FFFFFF;
}
.pricing__cart-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #FFFFFF;
  background: #9F3919;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  width: 375px;
  height: 40px;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .row {
  margin-top: 80px;
}

.pricing .col-4 {
  padding: 0;
}

.btns {
  padding-left: 250px;
  padding-top: 70px;
}