.slider__content {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
}
.slider__content-h2 {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
}
.slider__content-p {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: -0.625263px;
  width: 405px;
}
.slider__content-link {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454D4;
  text-decoration: none;
}
.slider__foto {
  height: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}