* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.col-4 {
  width: 33.3%;
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 70px;
}
.header__logo {
  display: flex;
  column-gap: 10px;
}
.header__menu {
  display: flex;
  column-gap: 75px;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
}
.header__menu-link {
  cursor: pointer;
  transition: all 0.5s;
}
.header__menu-link:hover {
  color: #19191b;
  border-bottom: solid 2px #5454d4;
}
.header .none {
  display: none;
}
.header__btn {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #ffffff;
  background: #ff7143;
  border-radius: 10px;
  padding: 13px 38px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #ff7143;
}
.header__btn:hover {
  color: #ff7143;
  background-color: #ffffff;
}

.hero {
  padding: 100px 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 45px;
}
.hero__content-title {
  color: #19191b;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 77px; /* 96.25% */
  letter-spacing: -2.501px;
}
.hero__content-text {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
}
.hero__content-btns {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.hero__content-btn {
  display: flex;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #ffffff;
  margin-right: 50px;
  background: #5454d4;
  border-radius: 10px;
  padding: 16px 38px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #5454d4;
}
.hero__content-btn:hover {
  color: #5454d4;
  background-color: #ffffff;
}
.hero__content-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #e7e7e7;
  stroke-width: 1px;
  stroke: #e7e7e7;
}
.hero__content-link svg {
  color: #000;
}

.logoipsum__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.slider {
  padding: 160px 0 83px;
}
.slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}
.slider__content-h2 {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
}
.slider__content-p {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: -0.625263px;
}
.slider__content-link {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454d4;
  text-decoration: none;
}
.slider__foto {
  display: flex;
  justify-content: center;
}

.benchmarks {
  padding-top: 175px;
}
.benchmarks .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.benchmarks__img {
  justify-content: center;
}
.benchmarks__title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.750316px;
  padding-bottom: 20px;
}
.benchmarks__text {
  font-family: Mulish, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.500211px;
}

.index__content {
  row-gap: 30px;
}
.index__content-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 57px;
  /* identical to box height, or 114% */
  letter-spacing: -1.56316px;
  padding-bottom: 20px;
}
.index__content-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: -0.625263px;
  padding-bottom: 20px;
  color: #696871;
}
.index__content-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454d4;
}

.pricing {
  padding: 100px 0 150px;
  border-radius: 10px;
}
.pricing__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.pricing__nav-title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
}
.pricing__btns {
  align-self: flex-end;
}
.pricing__btns-btn {
  background: #5454d4;
  border-radius: 10px 0px 0px 10px;
  padding: 7px 18px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 115px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}
.pricing__btns-btn:hover {
  color: #5454d4;
  background-color: #ffffff;
}
.pricing__btns-bt {
  background: #f7f7fb;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 7px 18px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 115px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #ffffff;
  background-color: #5454d4;
  cursor: pointer;
  transition: all 0.5s;
}
.pricing__btns-bt:hover {
  color: #5454d4;
  background: #f7f7fb;
}
.pricing__card {
  border-radius: 10px;
  height: 400px;
  background-color: #f7f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s;
}
.pricing__card:hover {
  color: #fff;
  background-color: #ff7143;
  width: 376px;
  height: 473px;
  position: relative;
  z-index: 1;
}
.pricing__card:hover * {
  color: #fff;
}
.pricing__card-text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  color: #696871;
  margin-bottom: 22px;
}
.pricing__card-title {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  margin-bottom: 22px;
  color: #1d293f;
}
.pricing__card-title span {
  color: #1d293f;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.034px;
}
.pricing__card-btn {
  background: #ffffff;
  border-radius: 10px;
  font-family: DM Sans, sans-serif;
  border: none;
  width: 285px;
  height: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #5454d4 !important;
  display: block;
  margin: 0 auto;
}
.pricing__card:hover .pricing__card-btn {
  color: #fff !important;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.531px;
  background: #9f3919;
  width: 305px;
  height: 60px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .pricing__card-btn {
    width: 235px;
  }
  .pricing__card:hover {
    width: 100%;
  }
  .pricing__card:hover .pricing__card-btn {
    width: 285px;
    height: 60px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .hero__content {
    row-gap: 30px;
  }
  .hero__content-title {
    font-size: 55px;
    line-height: 65px;
  }
  .hero__img img {
    width: 100%;
  }
  .pricing__nav-title {
    font-size: 45px;
  }
  .pricing .row {
    row-gap: 30px;
  }
  .pricing .col-4 {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    position: relative;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
  .header__btn {
    display: none;
  }
  .header .none {
    display: block;
  }
  .mobile-btn {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 70px;
    height: 50px;
    cursor: pointer;
  }
  .mobile-btn span,
  .mobile-btn span::before,
  .mobile-btn span::after {
    content: "";
    display: block;
    background-color: #252525;
    height: 5px;
    position: absolute;
    width: 100%;
  }
  .header__logo {
    z-index: 5;
  }
  .mobile-btn span::after {
    bottom: -15px;
  }
  .mobile-btn span::before {
    top: -15px;
  }
  .header::before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header__menu {
    position: absolute;
    left: 0;
    background-color: #fff;
    top: -134px;
    width: 100%;
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    z-index: 1;
    transition: 0.7s;
  }
  .header__menu-show {
    z-index: 6;
    top: 70px;
    border-top: 1px solid #fafafa;
  }
  .col-6 {
    width: 100%;
    margin: 0 auto;
  }
  .col-4 {
    width: 50%;
    margin: 0 auto;
  }
  .hero__content-title {
    text-align: center;
  }
  .hero__content-btns {
    margin: 0 auto;
  }
  .hero__img {
    margin-top: 20px;
  }
  .row {
    row-gap: 30px;
  }
  .index .col-6:nth-child(2) {
    order: -1;
  }
  .index__vid {
    display: flex;
    justify-content: center;
  }
  .benchmarks__text br {
    display: none;
  }
  .pricing__nav {
    flex-wrap: wrap;
  }
  .pricing__nav-title {
    text-align: center;
  }
  .pricing__nav-title br {
    display: none;
  }
  .pricing__btns {
    margin: 0 auto;
  }
  .pricing .col-4 {
    width: 100%;
  }
  .pricing__card-btn {
    width: 285px;
  }
  .logoipsum__wraper {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .logoipsum__wraper div {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
@media screen and (max-width: 320px) {
  .pricing__card-btn {
    width: 210px;
  }
  .pricing__card-title {
    font-size: 40px;
  }
  .pricing__card:hover .pricing__card-btn {
    width: 210px;
    height: 60px;
  }
  .pricing__card:hover {
    height: 390px;
  }
  .hero__content-title {
    font-size: 40px;
  }
  .hero__content-btns {
    flex-wrap: wrap;
    width: auto;
    row-gap: 10px;
  }
  .hero__content-link {
    margin: 0 auto;
  }
  .logoipsum__wraper div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .slider__foto-img img,
  .index__vid img {
    width: 100%;
  }
  .slider__content-h2,
  .index__content-title,
  .pricing__nav-title {
    font-size: 40px;
  }
  .benchmarks .col-4 {
    width: 100%;
  }
  .mobile-btn {
    width: 40px;
  }
  .mobile-btn span::before {
    top: -10px;
  }
  .mobile-btn span::after {
    bottom: -10px;
  }
}

/*# sourceMappingURL=style.css.map */
