.pricing {
  padding: 100px 0 150px;
  border-radius: 10px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    &-title {
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: -1.87579px;
    }
  }
  &__btns {
    align-self: flex-end;
    &-btn {
      background: #5454d4;
      border-radius: 10px 0px 0px 10px;
      padding: 7px 18px;
      font-family: DM Sans, sans-serif;
      border: none;
      width: 115px;
      height: 45px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.500211px;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: #5454d4;
        background-color: #ffffff;
      }
    }
    &-bt {
      background: #f7f7fb;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      padding: 7px 18px;
      font-family: DM Sans, sans-serif;
      border: none;
      width: 115px;
      height: 45px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.500211px;
      color: #ffffff;
      background-color: #5454d4;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: #5454d4;
        background: #f7f7fb;
      }
    }
  }
  &__card {
    border-radius: 10px;
    // width: 330px;
    height: 400px;
    background-color: #f7f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: #fff;
      background-color: #ff7143;
      width: 376px;
      height: 473px;
      position: relative;
      z-index: 1;
    }
    &:hover * {
      color: #fff;
    }

    &-text {
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      letter-spacing: -0.562737px;
      color: #696871;
      margin-bottom: 22px;
    }
    &-title {
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -1.03448px;
      margin-bottom: 22px;
      color: #1d293f;
      span {
        color: #1d293f;
        font-family: DM Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1.034px;
      }
    }

    &-btn {
      background: #ffffff;
      border-radius: 10px;
      font-family: DM Sans, sans-serif;
      border: none;
      width: 285px;
      height: 60px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      letter-spacing: -0.500211px;
      color: #5454d4 !important;
      display: block;
      margin: 0 auto;
    }
    &:hover &-btn {
      color: #fff !important;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.531px;
      background: #9f3919;
      width: 305px;
      height: 60px;
    }
  }
}
// .start {
//   display: flex;
// }
// .pricing .row {
//   margin-top: 80px;
// }
// .pricing .col-4 {
//   padding: 0;
// }
