* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-4 {
  width: 33.3%;
  padding: 0 15px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
@import "header";
@import "hero";
@import "Logoipsum";
@import "slider";
@import "benchmarks";
@import "100";
@import "pricing";
@import "media";
